#dashboard
    #logo
        %a{:href=>"http://www.codepink4peace.org"} CODEPINK
    .campaign
        Sign the Petition
    .campaign
        Join our Peace Delegation
    .campaign
        Follow the Book Tour

#header
    %h1 Drone Strikes in Pakistan

#map-container
    #map-svg

#data-container
    
    #map-mini
        #title 
            Pakistan

    #slider-wrapper
        #slider
        #before
        #after

    %table#infobox
        %th#info-header{:colspan=>"3"}
            Location: Wana - Mir Ali
        %tr
            %td.type AQ
            %td Total Killed
            %td Percentage
        %tr
            %td.type Taliban
            %td Total Killed
            %td Percentage
        %tr
            %td.type Civilian
            %td Total Killed
            %td Percentage
        %tr
            %td.type Foreigner
            %td Total Killed
            %td Percentage
        %tr
            %td.type Women
            %td Total Killed
            %td Percentage


