@import url('http://fonts.googleapis.com/css?family=Rationale')
@import compass
@import "reset"
@import "slider"

body
  margin: 0
  padding: 0
  background-image: url('/images/whiteSand.png')

#header
  background-color: #222
h1
  text-align: center
  padding: 6px
  font: 
    family: 'Rationale', 'Helvetica'
    weight: bold
    size: 40px
  color: #96a697

#dashboard
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: 40px
  z-index: 100
  font:
    family: Arial
    size: 24px
  color: hotpink
  .campaign
    float: left
    display: inline-block
    width: auto
    padding: 0 10px
    margin-left: 10px
    height: 60px
    font-size: 20px
    line-height: 60px
  #logo
    +background-image(linear-gradient(#fff, rgba(240, 180, 220, .9)))
    +box-shadow( rgba(0,0,0, .8) 1px 0px 10px 0px)
    +border-top-radius(10px)
    float: left
    padding: 8px
    margin-left: 10px
    a, a:visited, a:active, a:link, .link 
      text-decoration: none
      color: hotpink


.select
  height: 20px
  width: auto

circle.selected

circle.deselected
  stroke: grey
  fill: #ccc

.drone_target
  stroke: black
  stroke-width: 2
  fill: red
  fill-opacity: .5
  cursor: pointer

#content-wrapper
  position: relative
  margin-top: 20px
  text-align: center

#map-container
  position: relative
  display: inline-block

  #map-svg
    background-image: url('/images/FATA.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    text-align: center
    width: 700px
    height: 700px
  
  #map-mini
    position: absolute
    top: 0
    left: 0
    z-index: 100
    background-image: url('/images/pakistan_map.png')
    width: 200px
    height: 200px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

#inline-actions
  width: 500px

#data-container
  position: relative
  display: inline-block
  margin-left: 10px
  margin-bottom: 100px
  vertical-align: top
  text-align: center
  width: 320px
  p
    font:
      family: Helvetica
      size: 12px
    color: #222

  #slider-wrapper
    width: 300px
    height: 20px
    margin: 20px 0

  #stats-table
    position: relative
    margin: 10px 0
    border: 2px solid #222
    height: 360px
    width: 320px
    font:
      family: 'Rationale', Helvetica
      size: 20px
    color: rgb(157, 166, 151)
    background-color: rgba(24, 30, 17, .6)
    +box-shadow(inset #000 2px 2px 15px)
    text-align: center
    .red
      background-color: rgba(200,0,0, .4)

    #info-header
      background-color: rgb(157, 166, 151)
      border-bottom: 1px solid #222
      height: auto
      width: auto
      size: 20px
      color: #222
      +box-shadow( #000 1px 1px 6px)
      text-align: center
    .type
      font-weight: bold
      color: #222
      

  #map-image
    display: block
    background-image: url('/images/drone-damage.jpeg')
    width: 320px
    height: 240px
    background-size: contain
    background-repeat: no-repeat
    background-position: center 




